	<div id="userprofile">
		Username: {{ user.username }} <a href="#" onclick="deluser()">[Permanently delete my account]</a>
		<p />
		To submit readings just POST to:
		<ul>	
			<li>http://www.temprly.com/temprly/readings/add/[location_name]/sensor_name/value?token={{token}}</li>
		</ul>
		Where value is the numeric sensor reading and the location name is optional.  The location and sensor will be created
		if they do not already exist.
		<p />
		<em></>Please keep your token private and do not use Temprly for sensitive data!</em>
		<p />
	</div>


